<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555728294618-9uom5bok7k2ngrrob3coj5msr1cv6ko8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555728294618-9uom5bok7k2ngrrob3coj5msr1cv6ko8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>555728294618-d0teqajas4vpsn51f38q4gj8rpgk37ri.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA81F1vpPWsWtO4foyXwFfwX8a-YviEGgs</string>
	<key>GCM_SENDER_ID</key>
	<string>555728294618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rd.t1d</string>
	<key>PROJECT_ID</key>
	<string>t1d-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>t1d-buddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555728294618:ios:90c6fab27657ae58b1cbe3</string>
</dict>
</plist>